.result__root {
  text-align: center;
  background-color: #f0f0f0;
  justify-content: center;
  margin-bottom: 50px;
}
.result {
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.result__qr {
  height: 175px;
  width: 175px;
  padding: 20px;
  border-radius: 20px;
}

.result__link {
  width: auto;
  text-align: center;
  background-color: #ededed;
  margin-left: 0 auto;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  margin-left: 10px;
}

.link {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}
.copy__btn {
  color: white;
  background-image: linear-gradient(to right, #004e9a, #428cd4);
  height: 30px;
  padding: 5px 20px;
  border: none;
  font-size: 0.8rem;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 1px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 1.3px 3.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 1px 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
